* {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    text-align: center;
    background-color: white;
    margin: 0;
}

.card {
    margin: 25vh auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: 10px 10px 50px -30px rgb(30, 30, 30);
    width: 55%;
    min-width: 500px;
    max-width: 650px;
    height: 430px;
    display: flex;
    flex-direction: row;
}

.result {
    border-radius: 30px;
    width: 49%;
    height: 100%;
    background: linear-gradient(rgb(103, 67, 255), rgb(51, 45, 233));
}

.main-title {
    font-size: 1.2rem;
    color: rgba(230, 230, 230, 60%);
    height: 10%;
}

.avg-score {
    border-radius: 50%;
    background: linear-gradient(rgb(74, 34, 201), rgb(70, 51, 239));
    margin: auto;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-score {
    color: white;
    font-size: 3rem;
}

.sub-score {
    color: rgba(255, 255, 255, 60%);
    font-size: 14px;
}

.grade {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
}

.description {
    color: rgba(255, 255, 255, 60%);
    width: 70%;
    margin: auto;
}

.summary {
    height: 100%;
    width: 50%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
}

.summary-title {
    width: 100%;
    text-align: start;
    font-size: 1.2rem;
    height: 10%;
}

.block {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0 0 1rem 0;
    width: 100%;
    height: 11%;
}

.block:last-of-type {
    margin-bottom: 2rem;
}

.block-reaction {
    background-color: rgba(253, 118, 118, 20%);
}

.block-memory {
    background-color: rgba(255, 188, 58, 20%);
}

.block-verbal {
    background-color: rgba(64, 204, 171, 20%);
}

.block-visual {
    background-color: rgba(77, 92, 224, 20%);
}

.icon {
    margin: 0 0.6rem 0 0.6rem;
}

.score {
    margin: 0 1rem 0 auto;
    color: rgba(30, 30, 30, 80%);
}

.title-reaction {
    color: rgb(253, 118, 118);
}

.title-memory {
    color: rgb(255, 188, 58);
}

.title-verbal {
    color: rgb(64, 204, 171);
}

.title-visual {
    color: rgb(77, 92, 224);
}

.btn {
    width: 100%;
    height: 10%;
    border-radius: 8% / 50%;
    border: none;
    background-color: rgb(84, 59, 247);
    color: white;
}

.btn:hover {
    background-color: rgb(48, 59, 89);
}

.inline {
    display: inline;
}

.bold {
    font-weight: bold;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 600px) {
    .card {
        margin: 0;
        display: block;
        min-width: 0;
        min-height: 0;
        width: 100%;
        height: 100vh;
    }

    .result {
        width: 100%;
        height: 40%;
        border-radius: 0 0 30px 30px;
    }

    .grade {
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem auto 0.4rem 0;
    }

    .summary {
        width: 90%;
        height: 59%;
        margin: auto;
    }

    .summary-title {
        margin: 1rem 0 0 0;
    }

    .main-title {
        margin: auto;
        padding: 1rem;
    }

    .btn {
        border-radius: 5% / 50%;
    }
}